/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
	font-family: Montserrat;
	color: #fff;
	background: #000;
}
.wrapper {
	margin: 0 30px 0;
	height: 100%;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.intro__image {
	opacity: .7;
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
/*Nav*/
.nav {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center
}
.nav__link {
	color: #fff;
	font-size: 18px;
	padding: 0 20px;
	transition: margin-bottom 0.1s linear;
}
.nav__link.active {
	text-decoration: underline;
}

.nav__link:hover {
	margin-bottom: -5px;
}
.nav__link.active:hover {
	margin-bottom: 0;
}
.nav__link:active {
	color: #c9c9c9;
}
/*MEDIA FOR NAV*/
@media (max-width: 1024px) {
	.nav__link {
		font-size: 30px;
		margin-top: 50px;
	}
}
@media (max-width: 825px) {
	.intro__image {
		position: fixed;
		opacity: 0.65;
	}
		.nav__link {
		font-size: 30px;
		margin-top: 50px
	}
}
@media (max-width:  660px) {
		.nav__link {
		font-size: 30px;
		margin-top: 50px
	}
}

@media (max-width: 605px) {
	.nav__link {
		font-size: 24px;
	}
}

@media (max-width: 426px) {
	.nav__link {
		font-size: 21px;
		margin-top: 25px;
	}
}
/*===============*/

/*INTRO*/
.intro__wrap {
	margin-top: 55px;
}
.intro__body {
	display: flex;
	justify-content: center;
}
.intro__body2 {
	display: flex;
	justify-content: center;
}
.column__title {
	font-size: 50px;
	font-weight: 500;
}
.intro__column {
	margin-top: 50px;
}
.column__input {
	text-align: center;
	width: 100%;
	background: none;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}
.column__body {
	border: 1px #fff solid;
	padding: 20px 10px;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.column__id {
	font-size: 20px;
	font-weight: 600;
}
/*Image*/
.intro__copy-image {
	margin: 0 10px;
	max-width: 20px;
	max-height: 20px;
}
/*================*/

.intro__botton {
	margin-top: 115px;
	display: flex;
	justify-content: center;
}
.botton__text {
	margin-top: 30px ;
	color: #fff;
	padding: 15px 30px;
	border: 2px #fff solid;
	border-radius: 40px;
	font-weight: ;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 30px;

}
.botton__text:hover {
	transition: color 1s linear;
	transition: background 0.5s ease-in-out;
	background: #fff;
	font-weight: 500;
	color: #000;
}
.botton__text:active {
	transition: none;
	border-color: #c9c9c9;
	background: #c9c9c9;
}

@media (max-width: 825px) {
	.column__title {
		font-size: 40px;
	}
}
@media (max-width: 600px) {
	.column__title {
		font-size: 30px;
	}
	.intro__wrap {
		margin-top: 60px;
	}
}